[user]
	name = davidatsurge
	email = 93471693+davidatsurge@users.noreply.github.com

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

# Include themes from https://raw.githubusercontent.com/dandavison/delta/master/themes.gitconfig
[include]
	path = ~/.config/delta/themes.gitconfig

[delta]
	line-numbers = true
	syntax-theme = Github
	dark = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only


[init]
	defaultBranch = main

# https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
