[submodule "submodules/i3blocks-contrib"]
	path = submodules/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule ".config/bat/themes/sublime-snazzy"]
	path = .config/bat/themes/sublime-snazzy
	url = https://github.com/greggb/sublime-snazzy
