[diff]
    tool = difftastic
    external = difft

[difftool]
	prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE" --color always

[pager]
        difftool = true

# `git dft` is less to type than `git difftool`.
[alias]
        dft = difftool

# `git dlog` to show `git log -p` with difftastic.
[alias]
        dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = davidatsurge
	email = 93471693+davidatsurge@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	compression = 0
	excludesFile = /Users/davidat/.gitignore_global
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
