# Take notes in right column. I could use
# slc and then bl, but I do this frequently enough to justify it's own snippet.
snippet tn "take notes (in right column)" bw
	\end{leftcolumn}
	\begin{rightcolumn*}
	\small
	\begin{itemize}
		\item ${1:${VISUAL}}
	\end{itemize}
	\end{rightcolumn*}
	\begin{leftcolumn}
	${2}

snippet cq "\begin{quote}" w
	\begin{quote}
		${CLIPBOARD}
	\end{quote}

snippet l "\item" w
	\item ${1:${VISUAL}}
snippet bl "\item" w
	\begin{itemize}
		\item ${1:${VISUAL}}
	\end{itemize}

snippet i "\textit" w
	\textit{${1}}
snippet b "\textbf" w
	\textbf{${1}}
snippet s "\section" w
	\section* {${1}}

snippet ss "\subsection" w
	\subsection* {${1}}

snippet sss "\subsubsection" w
	\subsubsection* {${1}}
