snippet icon "import {ReactComponent as  SomeIcon} from  './path.svg'" w
	import { ReactComponent as ${1:}Icon } from  "${2:./file.svg}"


snippet tf "func signature" w
	(${1:}) => ${2:void}

snippet cn "className={" w
	className={classNames("${1:}")}
# TODO : useState(), useOtherThingsToo()

snippet p "prop={prop}" w
	${1}={${1}}
