snippet t "\text{}" w
\text{${1:some text}}
endsnippet

snippet f "\frac{}" w
\frac{${1:numer}}{${2:denom}}${3:}
endsnippet

snippet ^ "superscript" iA
^{${1:sup}}${2:}
endsnippet

snippet _ "subscript" iA
_{${1:sup}}${2:}
endsnippet

snippet bn "\begin{enumerate}" w
\begin{enumerate}
	\item ${1:}
\end{enumerate}${2:}
endsnippet

snippet ba "\begin{align}" w
\begin{align}
	${1:}
\end{align}
${2:}
endsnippet

snippet b "\textbf{}" w
\textbf{${1:}}${2:}
endsnippet

snippet i "\textit{}" w
\textit{${1:}}${2:}
endsnippet

snippet c "\cite{}" w
\cite{${1:}}${2:}
endsnippet

snippet li "list item" w
\item 
endsnippet

snippet se "\section{}" w
\section{${1:}}${2:}
endsnippet

snippet su "\subsection{}" w
\subsection{${1:}}${2:}
endsnippet

